* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --back-color: #121b30;
    --focus-color: #045c7f;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    display: flex;
    height: 100vh;
    background-color: var(--back-color);
}

.sucImg {
    width: 30%;
    background-image: url(images/kinga-howard-5qNTJcCckmc-unsplash.jpg);
    background-size: cover;
    height: 105vh;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 100%;
    opacity: 0.2;
    height: 30%;
}

.credits{ 
    background-color: black;
    color: whitesmoke;
    opacity: 0.4;
    text-align: center;
}

.content {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thanksNote {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 43px;
    color: #045c7f;
    margin-bottom: 3%;
    text-shadow: 2px 3px 2px black;
    
}

.content img {
    width: 8%;
    height: 10%;
}

